#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #3d3f44;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

li{
  list-style: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #64ff7baa);
}

.convert {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.converter-header {
  text-align: center;
  margin-bottom: 20px;
}

.converter-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.rates {
  display: flex;
  gap: 20px;
  padding: 0;
  margin-top: 15px;
  text-align: left;
}

.rates li {
  font-size: 18px;
  padding: 5px 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
